<%- include("partials/header") %>


<h1>Sign Up form</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholde="username"></input>
	<input type="password" name="password" placeholde="password"></input>
	<button>Sign Up!</button>
	
</form>


<%- include("partials/footer") %>




